spring:
  datasource:
    url: jdbc:h2:file:/data/productdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE

  h2:
    console:
      enabled: false

  jpa:
    show-sql: false

server:
  port: 8080

logging:
  level:
    root: INFO
    com.devops.pfe: INFO
